<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portafolio</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/icons/style.css">
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body">
	
	<header>
		<section class="header_icons">
			<div class="icons">
				<a target="_blank" href="https://www.facebook.com/vic.flores.9083/"><i class="icon-facebook"></i></a>
				<a target="_blank" href="https://www.instagram.com/vic_flores11/"><i class="icon-instagram"></i></a>
				<a target="_blank" href="https://github.com/VicFlores?tab=repositories"><i class="icon-github"></i></a>
			</div>
		</section>

		<nav>
			<section class="nav_logo">
				<a href=""><img src="../assets/img/VicLogo.png" alt="Logo de mi blog"></a>
			</section>

			<section class="profile_link">
				<a href="./perfil.html">Sobre mi</a>
			</section>
		</nav>
	</header>

	<main class="blogs-main">

		<section class="blogs-news">
			<div class="grid-container blogs-main-new">

				<h3>Soy un titulo</h3>

				<div class="blogs-news-img">
					<img src="../assets/img/postmain.jpg" alt="">
				</div>

				<div class="blogs-new-info">
					<h2>Titulo del blog post</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id reprehenderit sed ducimus ipsum voluptatum ullam omnis assumenda quae vitae, quisquam hic dignissimos temporibus saepe alias aut porro. Vero, assumenda sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus placeat omnis iure amet quasi sed molestiae, ipsa accusamus dolore magni possimus, dolorum a corrupti esse repellat suscipit tempore asperiores non.</p>
					<a class="blogs-button" href="">Leer màs</a>
				</div>

			</div>
		</section>

		<section class="blogs-posts">
			<div class="grid-container">
				
				<h3>Últimos posts</h3>

				<article class="post-container">
					<img src="../assets/img/post1.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

				<article class="post-container">
					<img src="../assets/img/post2.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

				<article class="post-container">
					<img src="../assets/img/post3.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

				<article class="post-container">
					<img src="../assets/img/post4.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

				<article class="post-container">
					<img src="../assets/img/post1.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

				<article class="post-container">
					<img src="../assets/img/post2.jpg" alt="">
					<p>Titulo del blog post</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore distinctio animi recusandae magni tempora dolores expedita voluptatum enim beatae dolor, qui quam aspernatur. Magnam ratione vero ipsam exercitationem fugit.</p>
					<a class="blogs-button" href="./blog.html">Leer màs</a>
				</article>

			</div>
		</section>

	</main>

	<footer>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facere eaque, consequatur atque, accusamus</p>
	</footer>

</body>
</html>